<!DOCTYPE html>
<html>
<head>
  <title>EROI Signup</title>
</head>
<body>
<h2>Signup – EPIC RAILS OF INDIA</h2>

<form method="POST" action="/signup">
  <input name="username" placeholder="Username" required><br><br>
  <input type="password" name="password" placeholder="Password" required><br><br>
  <input name="discord" placeholder="Discord Username"><br><br>
  <input name="roblox" placeholder="Roblox Username"><br><br>
  <button>Create Account</button>
</form>

<p>Already have account? <a href="/login">Login</a></p>
</body>
</html>
