body {
  margin: 0;
  background: #05010d;
  color: white;
  font-family: 'Poppins', sans-serif;
}

/* TOP BAR */
.topbar {
  height: 60px;
  background: linear-gradient(90deg, #12002f, #1b0040);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 25px;
  box-shadow: 0 5px 20px rgba(0,0,0,0.6);
}

.topbar a {
  color: #00eaff;
  margin-left: 20px;
  text-decoration: none;
  font-weight: 500;
}

.topbar a:hover {
  text-shadow: 0 0 10px #00eaff;
}

/* WRAPPER */
.wrapper {
  display: flex;
  height: calc(100vh - 60px);
}

/* SIDEBAR */
.sidebar {
  width: 230px;
  background: rgba(255,255,255,0.04);
  backdrop-filter: blur(14px);
  padding: 20px;
  box-shadow: inset -1px 0 0 rgba(255,255,255,0.1);
}

.sidebar .logo {
  display: flex;
  align-items: center;
  font-size: 20px;
  margin-bottom: 30px;
}

.sidebar img {
  width: 35px;
  margin-right: 10px;
}

.sidebar a {
  display: block;
  padding: 12px;
  margin-bottom: 10px;
  border-radius: 10px;
  color: #fff;
  text-decoration: none;
  transition: 0.3s;
}

.sidebar a:hover {
  background: linear-gradient(135deg, #ff512f, #dd2476);
  box-shadow: 0 0 15px #ff2f92;
}

/* CONTENT */
.content {
  flex: 1;
  padding: 30px;
  animation: fadeUp 0.8s ease;
}
